.footer__wrapper {
    margin-top: 30px;
    background-color: #181818;
}

.footer {
    display: flex;
    max-width: 1900px;
    justify-content: space-between;
    padding: 20px 17%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.label {
    display: flex;
    justify-content: center;
}

.label__text-white {
    color: #fcfcfd;
}

.footer__item p{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #F7F7F7;
}

.footer__item-mail p{
    color: #FFBC01;
}

.footer__item p:hover {
    cursor: pointer;
    color: #FFBC01;
    text-decoration: underline;
}