.recepie-update__wrapper {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 400%;
}

.recepie-update {
    position: relative;
    max-width: 808px;
    height: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
}

.recepie-update__wrapper:target {
    display: block;
}

.recepie-update__update-details {
    background: #FFFFFF;
    box-shadow: 0px 18px 60px rgba(24, 24, 24, 0.7);
    border-radius: 10px;
    margin-top: 50px;
    padding: 72px 56px;
    text-align: initial;
}

.update-details__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

.update-details__title span {
    color: #FFBC01;
}

.update-details__image,
.update-details__confirm,
.update-details__cancel {
    background: #FFBC01;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    outline: none;
    border: none;
    margin-top: 24px;
    padding: 16px 32px;
}

.update-details__title,
.update-details__description,
.update-details__ingridients,
.update-details__directions,
.update-details__time {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.update-details__title div span {
    font-size: 14px;
    color: red;
}

.update-details__error-image {
    color: green;
    font-size: 16px;
    display: block;
}

.update-details__title label,
.update-details__title span,
.update-details__description label,
.update-details__ingridients label,
.update-details__directions label,
.update-details__time label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.update-details__title input,
.update-details__description textarea,
.update-details__ingridients input,
.update-details__directions textarea,
.update-details__time input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    height: 40px;
    margin-top: 14px;
}

.update-details__description textarea,
.update-details__directions textarea {
    height: 104px;
    max-width: 100%;
}

.update-details__choosen-ingridients {
    width: 100%;
    max-width: 238px;
    margin-top: 48px;
}

.choosen-ingridients__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.choosen-ingridients__item span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.choosen-ingridients__item svg:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.update-details__cancel {
    background: transparent;
    color: #FFBC01;
    border: 2px solid #FFBC01;
    margin-right: 10px;
}

.update-details__cancel:hover {
    color: #181818;
    background-color: #FFBC01;
    cursor: pointer;
}

.update-details__image:hover,
.update-details__confirm:hover {
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 841px) {
    .update-details__image {
        width: 100%;
    }
}