<div class="back-photo">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="back-photo__form">
        <div class="label">
            <div class="label__icon-wrapper">
                <img class="icon" src="/assets/sign-in/icon.jpg" alt="">
            </div>
            <p class="label__text">Feed<span class="label__text-yellow">me</span></p>
        </div>
        <div class="create">
            <p class="create__main-label">Welcome back</p>
            <span class="create__new">New here? </span>
            <a class="create__create-link" routerLink="/sign-up">Create an account</a>
        </div>
        <div class="email">
            <label class="email__label" for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="email__input" placeholder="sss@google.com">
            <div *ngIf="checkValid('showEmailErr')">
                <span *ngIf="checkValid('emailReq')">Email Required</span>
                <span *ngIf="checkValid('emailPattern')">Incorrect Email</span>
            </div>
        </div>
        <div class="password">
            <div class="password__label-wrapper">
                <label for="password">Password</label>
                <a>Forgot password?</a>
            </div>
            <input id="password" type="password" formControlName="password" class="password__input">
            <div *ngIf="checkValid('showPassErr')">
                <span *ngIf="checkValid('passReq')">Password Required</span>
            </div>
        </div>
        <div class="signin">
            <button class="signin__button" type="submit" [disabled]="checkValid('buttonCheck')">Sign In</button>
        </div>
    </form>
</div>
<notifier-container></notifier-container>