<div class="back-photo">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="back-photo__form">
        <div class="label">
            <div class="label__icon-wrapper">
                <img class="icon" src="/assets/sign-in/icon.jpg" alt="">
            </div>
            <p class="label__text">Feed<span class="label__text-yellow">me</span></p>
        </div>
        <div class="email">
            <label class="email__label" for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="email__input" placeholder="sss@google.com">
            <div *ngIf="checkValid('showEmailErr')">
                <span *ngIf="checkValid('emailReq')">Email Required</span>
                <span *ngIf="checkValid('emailPattern')">Incorrect Email</span>
            </div>
        </div>
        <div class="password">
            <div class="password__label-wrapper">
                <label for="password">New password</label>
            </div>
            <input id="password" type="password" formControlName="password" class="password__input">
            <div *ngIf="checkValid('showPassErr')">
                <span *ngIf="checkValid('passReq')">Password Required</span>
            </div>
        </div>
        <div class="changepass">
            <button class="changepass__button" type="submit" [disabled]="checkValid('buttonCheck')">Change password</button>
        </div>
    </form>
</div>
<notifier-container></notifier-container>