<div class="wrapper">
    <app-header></app-header>
    <div class="find-recepies">
        <div class="find-recepies__main-label">
            <p>Find Recipies and Сreate Your Favourite Сookbooks</p>
        </div>
        <div class="find-recepies__search">
            <input type="search" name="" id="">
            <button>search</button>
        </div>
        <div class="find-recepies__examples">
            <p class="examples__item">Vegeterian</p>
            <p class="examples__item">Mexican</p>
            <p class="examples__item">Greece Kithcen</p>
            <p class="examples__item">Italy Pizza</p>
            <p class="examples__item">Philippines</p>
            <p class="examples__item">Japan Sushi</p>
        </div>
    </div>
    <div class="user-choice">
        <p class="user-choice__text">user choice</p>
        <div class="user-choice__recipes">
            <p class="recepies__main-label">20 Highest-Rated Recipes</p>
            <div class="recepies__recepies-cards">
                <div class="recepies-cards__card">
                    <div class="card__header">
                        <div class="header__views">
                            <img src="assets/home/eye.svg" alt="views">
                            <span>12000 views</span>
                        </div>
                        <div class="header__more">
                            <img src="assets/home/more.svg" alt="more">
                        </div>
                    </div>
                <div class="card__picture">
                    <img src="assets/home/casey-lee-awj7sRviVXo-unsplash 1 (0).jpg" alt="">
                </div>
                <div class="card__main-info">
                    <p class="main-info__name">Fresh meat</p>
                    <p class="main-info__author">John Doe</p>
                </div>
                <div class="card__footer">
                    <div class="footer__likes">
                        <img src="assets/home/heart.svg" alt="likes">
                        <span>499 likes</span>
                    </div>
                    <div class="footer__comments">
                        <img src="assets/home/comment.svg" alt="comments">
                        <span>12 comments</span>
                    </div>
                </div>
            </div>
            <div class="recepies-cards__card">
                <div class="card__header">
                    <div class="header__views">
                        <img src="assets/home/eye.svg" alt="views">
                        <span>12000 views</span>
                    </div>
                    <div class="header__more">
                        <img src="assets/home/more.svg" alt="more">
                    </div>
                </div>
                <div class="card__picture">
                    <img src="assets/home/casey-lee-awj7sRviVXo-unsplash 1 (0).jpg" alt="">
                </div>
                <div class="card__main-info">
                    <p class="main-info__name">Fresh meat</p>
                    <p class="main-info__author">John Doe</p>
                </div>
                <div class="card__footer">
                    <div class="footer__likes">
                        <img src="assets/home/heart.svg" alt="likes">
                        <span>499 likes</span>
                    </div>
                    <div class="footer__comments">
                        <img src="assets/home/comment.svg" alt="comments">
                        <span>12 comments</span>
                    </div>
                </div>
            </div>
            <div class="recepies-cards__card">
                <div class="card__header">
                    <div class="header__views">
                        <img src="assets/home/eye.svg" alt="views">
                        <span>12000 views</span>
                    </div>
                    <div class="header__more">
                        <img src="assets/home/more.svg" alt="more">
                    </div>
                </div>
                <div class="card__picture">
                    <img src="assets/home/casey-lee-awj7sRviVXo-unsplash 1 (1).jpg" alt="">
                </div>
                <div class="card__main-info">
                    <p class="main-info__name">Fresh meat</p>
                    <p class="main-info__author">John Doe</p>
                </div>
                <div class="card__footer">
                    <div class="footer__likes">
                        <img src="assets/home/heart.svg" alt="likes">
                        <span>499 likes</span>
                    </div>
                    <div class="footer__comments">
                        <img src="assets/home/comment.svg" alt="comments">
                        <span>12 comments</span>
                    </div>
                </div>
            </div>
            <div class="recepies-cards__card">
                <div class="card__header">
                    <div class="header__views">
                        <img src="assets/home/eye.svg" alt="views">
                        <span>12000 views</span>
                    </div>
                    <div class="header__more">
                        <img src="assets/home/more.svg" alt="more">
                    </div>
                </div>
                <div class="card__picture">
                    <img src="assets/home/casey-lee-awj7sRviVXo-unsplash 1 (2).jpg" alt="">
                </div>
                <div class="card__main-info">
                    <p class="main-info__name">Fresh meat</p>
                    <p class="main-info__author">John Doe</p>
                </div>
                <div class="card__footer">
                    <div class="footer__likes">
                        <img src="assets/home/heart.svg" alt="likes">
                        <span>499 likes</span>
                    </div>
                    <div class="footer__comments">
                        <img src="assets/home/comment.svg" alt="comments">
                        <span>12 comments</span>
                    </div>
                </div>
            </div>
          </div>
            <div class="recepies__button">
                <button>Show More</button>
            </div>
        </div>
    </div>
    <div class="our-choice">
      <p class="our-choice__text">our choice</p>
      <div class="our-choice__cookbooks">
        <p class="cookbooks__main-label">20 Highest-Rated Recipes</p>
        <div class="cookbooks__cookbooks-cards">
            <div class="cookbooks-cards__left-card cookbooks-cards__button-and-more">
              <div class="left-card__button cookbooks-cards__button">
                <button>Its All About Pancakes</button>
              </div>
              <div class="left-card__more cookbooks-cards__more">
                <img src="assets/home/more.svg" alt="more">
              </div>
            </div>
            <div class="cookbooks-cards__right-cards">
               <div class="right-cards__top-card cookbooks-cards__button-and-more">
                <div class="top-card__button cookbooks-cards__button">
                  <button>Iccceeesream Dream</button>
                </div>
                <div class="top-card__more cookbooks-cards__more">
                  <img src="assets/home/more.svg" alt="more">
                </div>
               </div>
               <div class="right-cards__bottom-cards">
                 <div class="bottom-cards__left-bottom-card cookbooks-cards__button-and-more">
                  <div class="left-bottom-card__button cookbooks-cards__button">
                    <button>Fast Breakfast</button>
                  </div>
                  <div class="left-bottom-card__more cookbooks-cards__more">
                    <img src="assets/home/more.svg" alt="more">
                  </div>
                 </div>
                 <div class="bottom-cards__right-bottom-card cookbooks-cards__button-and-more">
                  <div class="right-bottom-card__button cookbooks-cards__button">
                    <button>Fruits and Vegetables</button>
                  </div>
                  <div class="right-bottom-card__more cookbooks-cards__more">
                    <img src="assets/home/more.svg" alt="more">
                  </div>
                 </div>
               </div>
            </div>
        </div>
      </div>
      <div class="cookbooks__button">
        <button>Show More</button>
      </div>
    </div>
    <div class="trending">
      <p class="trending__text">top 10</p>
      <div class="trending__trend-recepies">
        <p class="trend-recepies__main-label">Trending Recepies</p>
          <div id="carousel" class="trend-recepies__carousel">
            <button class="arrow carousel__prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5858 45.4142C11.8047 44.6332 11.8047 43.3668 12.5858 42.5858L31.1716 24L12.5858 5.41421C11.8047 4.63316 11.8047 3.36683 12.5858 2.58578C13.3668 1.80474 14.6332 1.80474 15.4142 2.58578L35.4142 22.5858C36.1953 23.3668 36.1953 24.6332 35.4142 25.4142L15.4142 45.4142C14.6332 46.1953 13.3668 46.1953 12.5858 45.4142Z" fill="white"/>
              </svg>
            </button>
            <div class="carousel__gallery">
              <div class="gallery__trending-card">
                <div class="trending-card__header">
                  <div class="header__views">
                    <img src="assets/home/eye.svg" alt="views">
                    <span>12000 views</span>
                  </div>
                  <div class="header__more">
                    <img src="assets/home/more.svg" alt="more">
                  </div>
                </div>
                <div class="trending-card__picture">
                  <img src="assets/home/joseph-gonzalez-zcUgjyqEwe8-unsplash 1.jpg" alt="">
                </div>
                <div class="trending-card__main-info-trend-card">
                  <p class="main-info-trend-card__name">Fresh meat</p>
                  <p class="main-info-trend-card__author">John Doe</p>
                </div>
              </div>
              <div class="gallery__trending-card">
                <div class="trending-card__header">
                  <div class="header__views">
                    <img src="assets/home/eye.svg" alt="views">
                    <span>12000 views</span>
                  </div>
                  <div class="header__more">
                    <img src="assets/home/more.svg" alt="more">
                  </div>
                </div>
                <div class="trending-card__picture">
                  <img src="assets/home/joseph-gonzalez-zcUgjyqEwe8-unsplash 1 (1).jpg" alt="">
                </div>
                <div class="trending-card__main-info-trend-card">
                  <p class="main-info-trend-card__name">Fresh meat</p>
                  <p class="main-info-trend-card__author">John Doe</p>
                </div>
              </div>
              <div class="gallery__trending-card">
                <div class="trending-card__header">
                  <div class="header__views">
                    <img src="assets/home/eye.svg" alt="views">
                    <span>12000 views</span>
                  </div>
                  <div class="header__more">
                    <img src="assets/home/more.svg" alt="more">
                  </div>
                </div>
                <div class="trending-card__picture">
                  <img src="assets/home/joseph-gonzalez-zcUgjyqEwe8-unsplash 1 (2).jpg" alt="">
                </div>
                <div class="trending-card__main-info-trend-card">
                  <p class="main-info-trend-card__name">Fresh meat</p>
                  <p class="main-info-trend-card__author">John Doe</p>
                </div>
              </div>
            </div>
                <button class="arrow carousel__next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5858 45.4142C11.8047 44.6332 11.8047 43.3668 12.5858 42.5858L31.1716 24L12.5858 5.41421C11.8047 4.63316 11.8047 3.36683 12.5858 2.58578C13.3668 1.80474 14.6332 1.80474 15.4142 2.58578L35.4142 22.5858C36.1953 23.3668 36.1953 24.6332 35.4142 25.4142L15.4142 45.4142C14.6332 46.1953 13.3668 46.1953 12.5858 45.4142Z" fill="white"/>
                    </svg>
                </button>
            </div> 
        </div>
        <div class="trend-recepies__button">
            <button>Show All Recepies</button>
        </div>
    </div>
</div>
<app-footer></app-footer>