<div class="wrapper">
    <app-header></app-header>
    <div class="user-main">
        <div class="user-main__photo">
          <img src="assets/profile-cookbook/Rectangle 199.jpg" alt="">
        </div>
        <div class="user-main__info">
          <h1>{{ userName }}</h1>
          <p>I don’t know about you but I love pizza. Especially when that pizza comes with Papa John’s very own garlic pizza sticks.</p>
        </div>
      </div>
      <div class="cookbooks-show">
        <div class="cookbooks-show__navigation">
          <div class="navigation-right">
            <a href="" routerLinkActive="navigation__link-active" routerLink="./cookbooks">My Cookbooks</a>
            <a href="" routerLinkActive="navigation__link-active" routerLink="./recepies">My Recepies</a>
            <a href="" routerLinkActive="navigation__link-active" routerLink="./settings">My Settings</a>
          </div>
          <button>Create New CookBook</button>
        </div>
        <!--  -->
        <router-outlet></router-outlet>
      </div>
    </div>
<app-footer></app-footer>