<div class="back-photo">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="back-photo__form">
        <div class="label">
            <div class="label__icon-wrapper">
                <img class="icon" src="/assets/sign-in/icon.jpg" alt="">
            </div>
            <p class="label__text">Feed<span class="label__text-yellow">me</span></p>
        </div>
        <div class="join">
            <p class="join__main-label">Join Our Community</p>
            <span class="join__new">Already have an account? </span>
            <a class="join__join-link" routerLink="/sign-in">Sign In</a>
        </div>
        <div class="email">
            <label class="email__label" for="email">Email</label>
            <input id="email" type="text" formControlName="email" class="email__input" placeholder="sss@google.com">
            <div *ngIf="checkValid('showEmailErr')">
                <span *ngIf="checkValid('emailReq')">Email Required</span>
                <span *ngIf="checkValid('emailPattern')">Incorrect Email</span>
            </div>
        </div>
        <div class="password">
            <div class="password__label-wrapper">
                <label for="password">Password</label>
                <a>Forgot password?</a>
            </div>
            <input id="password" type="text" formControlName="password" class="password__input" type="password">
            <div *ngIf="checkValid('showPassErr')">
                <span *ngIf="checkValid('passReq')">Password Required</span>
                <span *ngIf="checkValid('passMin')">Password must be at least 8 characters</span>
                <span *ngIf="checkValid('passMax')">Password must be no longer than 16 characters</span>
            </div>
        </div>
        <div class="confirm-password">
            <label class="confirm-password__label" for="confirm-password">Confirm Password</label>
            <input class="confirm-password__input" formControlName="passwordConfrim" type="password" name="confirm-password">
            <div *ngIf="checkValid('showPassConfrErr')">
                <span *ngIf="checkValid('passConfrReq')">Password Confirm Required</span>
                <span *ngIf="checkValid('passConfrMatch')"> Passwords must matched</span>
            </div>
        </div>
        <div class="signin">
            <button class="signin__button" type="submit" [disabled]="checkValid('buttonCheck')">Sign Up</button>
        </div>
    </form>
</div>
<notifier-container></notifier-container>